nav{ 

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title 
{
    color: green;
}
ul>li{
    display: inline;
    margin: 10px;
    padding-right: 14px;
    font-size: smaller;
}
ul>li>a{
    color: black;
    text-decoration: none;
}